# .clang-format
BasedOnStyle: LLVM
Language: Cpp
#Standard: Cpp17

# General formatting
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeAssignmentOperators: true

# Modern C++ options
AllowAllParametersOfDeclarationOnNextLine: false
Cpp11BracedListStyle: true
SortIncludes: true
IncludeBlocks: Regroup
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
AlignConsecutiveAssignments: true
