[submodule "modules/babocar-core"]
	path = modules/babocar-core
	url = git@github.com:somaveszelovszki/babocar-core.git
[submodule "modules/babocar-hw"]
	path = modules/babocar-hw
	url = git@github.com:somaveszelovszki/babocar-hw.git
[submodule "modules/babocar-micro"]
	path = modules/babocar-micro
	url = git@github.com:somaveszelovszki/babocar-micro.git
[submodule "modules/babocar-logic"]
	path = modules/babocar-logic
	url = git@github.com:somaveszelovszki/babocar-logic.git
[submodule "modules/babocar-3d_models"]
	path = modules/babocar-3d_models
	url = git@github.com:somaveszelovszki/babocar-3d_models.git
[submodule "modules/babocar-monitor"]
	path = modules/babocar-monitor
	url = git@github.com:somaveszelovszki/babocar-monitor.git
