[submodule "circuit/voltage-converter"]
	path = circuit/voltage-converter
	url = git@github.com:somaveszelovszki/voltage-converter-circuit.git
[submodule "circuit/control-panel"]
	path = circuit/control-panel
	url = git@github.com:somaveszelovszki/babocar-control-panel-circuit.git
[submodule "circuit/motor-controller"]
	path = circuit/motor-controller
	url = git@github.com:somaveszelovszki/babocar-motor-controller-circuit.git
[submodule "micro-utils"]
	path = micro-utils
	url = git@github.com:somaveszelovszki/micro-utils.git
[submodule "firmware/control-panel"]
	path = firmware/control-panel
	url = git@github.com:somaveszelovszki/babocar-control-panel-firmware.git
[submodule "firmware/motor-controller"]
	path = firmware/motor-controller
	url = git@github.com:somaveszelovszki/babocar-motor-controller-firmware.git
[submodule "circuit/altium-libs"]
	path = circuit/altium-libs
	url = git@github.com:somaveszelovszki/altium-libs.git
[submodule "monitor"]
	path = monitor
	url = git@github.com:somaveszelovszki/babocar-monitor.git
[submodule "3d-models"]
	path = 3d-models
	url = git@github.com:somaveszelovszki/babocar-3d-models.git
